@font-face {
  font-family: 'icomoon2';
  src:  url('../fonts/icomoon2/icomoon2.eot?1z9v6x');
  src:  url('../fonts/icomoon2/icomoon2.eot?1z9v6x#iefix') format('embedded-opentype'),
        url('../fonts/icomoon2/icomoon2.ttf?1z9v6x') format('truetype'),
        url('../fonts/icomoon2/icomoon2.woff?1z9v6x') format('woff'),
        url('../fonts/icomoon2/icomoon2.svg?1z9v6x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon2-"], [class*=" icon2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon2-mobile3:before {
  content: "\e000";
}
.icon2-laptop3:before {
  content: "\e001";
}
.icon2-desktop:before {
  content: "\e002";
}
.icon2-tablet3:before {
  content: "\e003";
}
.icon2-phone3:before {
  content: "\e004";
}
.icon2-document2:before {
  content: "\e005";
}
.icon2-documents2:before {
  content: "\e006";
}
.icon2-search2:before {
  content: "\e007";
}
.icon2-clipboard3:before {
  content: "\e008";
}
.icon2-newspaper2:before {
  content: "\e009";
}
.icon2-notebook:before {
  content: "\e00a";
}
.icon2-book-open:before {
  content: "\e00b";
}
.icon2-browser2:before {
  content: "\e00c";
}
.icon2-calendar3:before {
  content: "\e00d";
}
.icon2-presentation:before {
  content: "\e00e";
}
.icon2-picture:before {
  content: "\e00f";
}
.icon2-pictures:before {
  content: "\e010";
}
.icon2-video2:before {
  content: "\e011";
}
.icon2-camera3:before {
  content: "\e012";
}
.icon2-printer2:before {
  content: "\e013";
}
.icon2-toolbox:before {
  content: "\e014";
}
.icon2-briefcase3:before {
  content: "\e015";
}
.icon2-wallet2:before {
  content: "\e016";
}
.icon2-gift2:before {
  content: "\e017";
}
.icon2-bargraph:before {
  content: "\e018";
}
.icon2-grid2:before {
  content: "\e019";
}
.icon2-expand:before {
  content: "\e01a";
}
.icon2-focus:before {
  content: "\e01b";
}
.icon2-edit2:before {
  content: "\e01c";
}
.icon2-adjustments:before {
  content: "\e01d";
}
.icon2-ribbon:before {
  content: "\e01e";
}
.icon2-hourglass:before {
  content: "\e01f";
}
.icon2-lock3:before {
  content: "\e020";
}
.icon2-megaphone2:before {
  content: "\e021";
}
.icon2-shield3:before {
  content: "\e022";
}
.icon2-trophy3:before {
  content: "\e023";
}
.icon2-flag3:before {
  content: "\e024";
}
.icon2-map3:before {
  content: "\e025";
}
.icon2-puzzle:before {
  content: "\e026";
}
.icon2-basket:before {
  content: "\e027";
}
.icon2-envelope:before {
  content: "\e028";
}
.icon2-streetsign:before {
  content: "\e029";
}
.icon2-telescope:before {
  content: "\e02a";
}
.icon2-gears:before {
  content: "\e02b";
}
.icon2-key3:before {
  content: "\e02c";
}
.icon2-paperclip:before {
  content: "\e02d";
}
.icon2-attachment3:before {
  content: "\e02e";
}
.icon2-pricetags:before {
  content: "\e02f";
}
.icon2-lightbulb:before {
  content: "\e030";
}
.icon2-layers2:before {
  content: "\e031";
}
.icon2-pencil3:before {
  content: "\e032";
}
.icon2-tools2:before {
  content: "\e033";
}
.icon2-tools-2:before {
  content: "\e034";
}
.icon2-scissors3:before {
  content: "\e035";
}
.icon2-paintbrush:before {
  content: "\e036";
}
.icon2-magnifying-glass2:before {
  content: "\e037";
}
.icon2-circle-compass:before {
  content: "\e038";
}
.icon2-linegraph:before {
  content: "\e039";
}
.icon2-mic3:before {
  content: "\e03a";
}
.icon2-strategy:before {
  content: "\e03b";
}
.icon2-beaker:before {
  content: "\e03c";
}
.icon2-caution:before {
  content: "\e03d";
}
.icon2-recycle:before {
  content: "\e03e";
}
.icon2-anchor:before {
  content: "\e03f";
}
.icon2-profile-male:before {
  content: "\e040";
  font-weight: 900;
}
.icon2-profile-female:before {
  content: "\e041";
  font-weight: 900;
}
.icon2-bike:before {
  content: "\e042";
}
.icon2-wine:before {
  content: "\e043";
}
.icon2-hotairballoon:before {
  content: "\e044";
}
.icon2-globe2:before {
  content: "\e045";
}
.icon2-genius:before {
  content: "\e046";
}
.icon2-map-pin:before {
  content: "\e047";
}
.icon2-dial:before {
  content: "\e048";
}
.icon2-chat2:before {
  content: "\e049";
}
.icon2-heart3:before {
  content: "\e04a";
}
.icon2-cloud3:before {
  content: "\e04b";
}
.icon2-upload4:before {
  content: "\e04c";
}
.icon2-download4:before {
  content: "\e04d";
}
.icon2-target2:before {
  content: "\e04e";
}
.icon2-hazardous:before {
  content: "\e04f";
}
.icon2-piechart:before {
  content: "\e050";
}
.icon2-speedometer:before {
  content: "\e051";
}
.icon2-global:before {
  content: "\e052";
}
.icon2-compass3:before {
  content: "\e053";
}
.icon2-lifesaver:before {
  content: "\e054";
}
.icon2-clock3:before {
  content: "\e055";
}
.icon2-aperture:before {
  content: "\e056";
}
.icon2-quote2:before {
  content: "\e057";
}
.icon2-scope:before {
  content: "\e058";
}
.icon2-alarmclock:before {
  content: "\e059";
}
.icon2-refresh:before {
  content: "\e05a";
}
.icon2-happy3:before {
  content: "\e05b";
}
.icon2-sad3:before {
  content: "\e05c";
}
.icon2-facebook3:before {
  content: "\e05d";
}
.icon2-twitter3:before {
  content: "\e05e";
}
.icon2-googleplus:before {
  content: "\e05f";
}
.icon2-rss3:before {
  content: "\e060";
}
.icon2-tumblr3:before {
  content: "\e061";
}
.icon2-linkedin3:before {
  content: "\e062";
}
.icon2-dribbble3:before {
  content: "\e063";
}
.icon2-add-to-list:before {
  content: "\e900";
}
.icon2-classic-computer:before {
  content: "\e901";
}
.icon2-controller-fast-backward:before {
  content: "\e902";
}
.icon2-creative-commons-attribution:before {
  content: "\e903";
}
.icon2-creative-commons-noderivs:before {
  content: "\e904";
}
.icon2-creative-commons-noncommercial-eu:before {
  content: "\e905";
}
.icon2-creative-commons-noncommercial-us:before {
  content: "\e906";
}
.icon2-creative-commons-public-domain:before {
  content: "\e907";
}
.icon2-creative-commons-remix:before {
  content: "\e908";
}
.icon2-creative-commons-share:before {
  content: "\e909";
}
.icon2-creative-commons-sharealike:before {
  content: "\e90a";
}
.icon2-creative-commons:before {
  content: "\e90b";
}
.icon2-document-landscape:before {
  content: "\e90c";
}
.icon2-remove-user:before {
  content: "\e90d";
}
.icon2-warning:before {
  content: "\e90e";
}
.icon2-arrow-bold-down:before {
  content: "\e90f";
}
.icon2-arrow-bold-left:before {
  content: "\e910";
}
.icon2-arrow-bold-right:before {
  content: "\e911";
}
.icon2-arrow-bold-up:before {
  content: "\e912";
}
.icon2-arrow-down:before {
  content: "\e913";
}
.icon2-arrow-left:before {
  content: "\e914";
}
.icon2-arrow-long-down:before {
  content: "\e915";
}
.icon2-arrow-long-left:before {
  content: "\e916";
}
.icon2-arrow-long-right:before {
  content: "\e917";
}
.icon2-arrow-long-up:before {
  content: "\e918";
}
.icon2-arrow-right:before {
  content: "\e919";
}
.icon2-arrow-up:before {
  content: "\e91a";
}
.icon2-arrow-with-circle-down:before {
  content: "\e91b";
}
.icon2-arrow-with-circle-left:before {
  content: "\e91c";
}
.icon2-arrow-with-circle-right:before {
  content: "\e91d";
}
.icon2-arrow-with-circle-up:before {
  content: "\e91e";
}
.icon2-bookmark:before {
  content: "\e91f";
}
.icon2-bookmarks:before {
  content: "\e920";
}
.icon2-chevron-down:before {
  content: "\e921";
}
.icon2-chevron-left:before {
  content: "\e922";
}
.icon2-chevron-right:before {
  content: "\e923";
}
.icon2-chevron-small-down:before {
  content: "\e924";
}
.icon2-chevron-small-left:before {
  content: "\e925";
}
.icon2-chevron-small-right:before {
  content: "\e926";
}
.icon2-chevron-small-up:before {
  content: "\e927";
}
.icon2-chevron-thin-down:before {
  content: "\e928";
}
.icon2-chevron-thin-left:before {
  content: "\e929";
}
.icon2-chevron-thin-right:before {
  content: "\e92a";
}
.icon2-chevron-thin-up:before {
  content: "\e92b";
}
.icon2-chevron-up:before {
  content: "\e92c";
}
.icon2-chevron-with-circle-down:before {
  content: "\e92d";
}
.icon2-chevron-with-circle-left:before {
  content: "\e92e";
}
.icon2-chevron-with-circle-right:before {
  content: "\e92f";
}
.icon2-chevron-with-circle-up:before {
  content: "\e930";
}
.icon2-cloud:before {
  content: "\e931";
}
.icon2-controller-fast-forward:before {
  content: "\e932";
}
.icon2-controller-jump-to-start:before {
  content: "\e933";
}
.icon2-controller-next:before {
  content: "\e934";
}
.icon2-controller-paus:before {
  content: "\e935";
}
.icon2-controller-play:before {
  content: "\e936";
}
.icon2-controller-record:before {
  content: "\e937";
}
.icon2-controller-stop:before {
  content: "\e938";
}
.icon2-controller-volume:before {
  content: "\e939";
}
.icon2-dot-single:before {
  content: "\e93a";
}
.icon2-dots-three-horizontal:before {
  content: "\e93b";
}
.icon2-dots-three-vertical:before {
  content: "\e93c";
}
.icon2-dots-two-horizontal:before {
  content: "\e93d";
}
.icon2-dots-two-vertical:before {
  content: "\e93e";
}
.icon2-download:before {
  content: "\e93f";
}
.icon2-emoji-flirt:before {
  content: "\e940";
}
.icon2-flow-branch:before {
  content: "\e941";
}
.icon2-flow-cascade:before {
  content: "\e942";
}
.icon2-flow-line:before {
  content: "\e943";
}
.icon2-flow-parallel:before {
  content: "\e944";
}
.icon2-flow-tree:before {
  content: "\e945";
}
.icon2-install:before {
  content: "\e946";
}
.icon2-layers:before {
  content: "\e947";
}
.icon2-open-book:before {
  content: "\e948";
}
.icon2-resize-100:before {
  content: "\e949";
}
.icon2-resize-full-screen:before {
  content: "\e94a";
}
.icon2-save:before {
  content: "\e94b";
}
.icon2-select-arrows:before {
  content: "\e94c";
}
.icon2-sound-mute:before {
  content: "\e94d";
}
.icon2-sound:before {
  content: "\e94e";
}
.icon2-trash:before {
  content: "\e94f";
}
.icon2-triangle-down:before {
  content: "\e950";
}
.icon2-triangle-left:before {
  content: "\e951";
}
.icon2-triangle-right:before {
  content: "\e952";
}
.icon2-triangle-up:before {
  content: "\e953";
}
.icon2-uninstall:before {
  content: "\e954";
}
.icon2-upload-to-cloud:before {
  content: "\e955";
}
.icon2-upload:before {
  content: "\e956";
}
.icon2-add-user:before {
  content: "\e957";
}
.icon2-address:before {
  content: "\e958";
}
.icon2-adjust:before {
  content: "\e959";
}
.icon2-air:before {
  content: "\e95a";
}
.icon2-aircraft-landing:before {
  content: "\e95b";
}
.icon2-aircraft-take-off:before {
  content: "\e95c";
}
.icon2-aircraft:before {
  content: "\e95d";
}
.icon2-align-bottom:before {
  content: "\e95e";
}
.icon2-align-horizontal-middle:before {
  content: "\e95f";
}
.icon2-align-left:before {
  content: "\e960";
}
.icon2-align-right:before {
  content: "\e961";
}
.icon2-align-top:before {
  content: "\e962";
}
.icon2-align-vertical-middle:before {
  content: "\e963";
}
.icon2-archive:before {
  content: "\e964";
}
.icon2-area-graph:before {
  content: "\e965";
}
.icon2-attachment:before {
  content: "\e966";
}
.icon2-awareness-ribbon:before {
  content: "\e967";
}
.icon2-back-in-time:before {
  content: "\e968";
}
.icon2-back:before {
  content: "\e969";
}
.icon2-bar-graph:before {
  content: "\e96a";
}
.icon2-battery:before {
  content: "\e96b";
}
.icon2-beamed-note:before {
  content: "\e96c";
}
.icon2-bell:before {
  content: "\e96d";
}
.icon2-blackboard:before {
  content: "\e96e";
}
.icon2-block:before {
  content: "\e96f";
}
.icon2-book:before {
  content: "\e970";
}
.icon2-bowl:before {
  content: "\e971";
}
.icon2-box:before {
  content: "\e972";
}
.icon2-briefcase:before {
  content: "\e973";
}
.icon2-browser:before {
  content: "\e974";
}
.icon2-brush:before {
  content: "\e975";
}
.icon2-bucket:before {
  content: "\e976";
}
.icon2-cake:before {
  content: "\e977";
}
.icon2-calculator:before {
  content: "\e978";
}
.icon2-calendar:before {
  content: "\e979";
}
.icon2-camera:before {
  content: "\e97a";
}
.icon2-ccw:before {
  content: "\e97b";
}
.icon2-chat:before {
  content: "\e97c";
}
.icon2-check:before {
  content: "\e97d";
}
.icon2-circle-with-cross:before {
  content: "\e97e";
}
.icon2-circle-with-minus:before {
  content: "\e97f";
}
.icon2-circle-with-plus:before {
  content: "\e980";
}
.icon2-circle:before {
  content: "\e981";
}
.icon2-circular-graph:before {
  content: "\e982";
}
.icon2-clapperboard:before {
  content: "\e983";
}
.icon2-clipboard:before {
  content: "\e984";
}
.icon2-clock:before {
  content: "\e985";
}
.icon2-code:before {
  content: "\e986";
}
.icon2-cog:before {
  content: "\e987";
}
.icon2-colours:before {
  content: "\e988";
}
.icon2-compass:before {
  content: "\e989";
}
.icon2-copy:before {
  content: "\e98a";
}
.icon2-credit-card:before {
  content: "\e98b";
}
.icon2-credit:before {
  content: "\e98c";
}
.icon2-cross:before {
  content: "\e98d";
}
.icon2-cup:before {
  content: "\e98e";
}
.icon2-cw:before {
  content: "\e98f";
}
.icon2-cycle:before {
  content: "\e990";
}
.icon2-database:before {
  content: "\e991";
}
.icon2-dial-pad:before {
  content: "\e992";
}
.icon2-direction:before {
  content: "\e993";
}
.icon2-document:before {
  content: "\e994";
}
.icon2-documents:before {
  content: "\e995";
}
.icon2-drink:before {
  content: "\e996";
}
.icon2-drive:before {
  content: "\e997";
}
.icon2-drop:before {
  content: "\e998";
}
.icon2-edit:before {
  content: "\e999";
}
.icon2-email:before {
  content: "\e99a";
}
.icon2-emoji-happy:before {
  content: "\e99b";
}
.icon2-emoji-neutral:before {
  content: "\e99c";
}
.icon2-emoji-sad:before {
  content: "\e99d";
}
.icon2-erase:before {
  content: "\e99e";
}
.icon2-eraser:before {
  content: "\e99f";
}
.icon2-export:before {
  content: "\e9a0";
}
.icon2-eye:before {
  content: "\e9a1";
}
.icon2-feather:before {
  content: "\e9a2";
}
.icon2-flag:before {
  content: "\e9a3";
}
.icon2-flash:before {
  content: "\e9a4";
}
.icon2-flashlight:before {
  content: "\e9a5";
}
.icon2-flat-brush:before {
  content: "\e9a6";
}
.icon2-folder-images:before {
  content: "\e9a7";
}
.icon2-folder-music:before {
  content: "\e9a8";
}
.icon2-folder-video:before {
  content: "\e9a9";
}
.icon2-folder:before {
  content: "\e9aa";
}
.icon2-forward:before {
  content: "\e9ab";
}
.icon2-funnel:before {
  content: "\e9ac";
}
.icon2-game-controller:before {
  content: "\e9ad";
}
.icon2-gauge:before {
  content: "\e9ae";
}
.icon2-globe:before {
  content: "\e9af";
}
.icon2-graduation-cap:before {
  content: "\e9b0";
}
.icon2-grid:before {
  content: "\e9b1";
}
.icon2-hair-cross:before {
  content: "\e9b2";
}
.icon2-hand:before {
  content: "\e9b3";
}
.icon2-heart-outlined:before {
  content: "\e9b4";
}
.icon2-heart:before {
  content: "\e9b5";
}
.icon2-help-with-circle:before {
  content: "\e9b6";
}
.icon2-help:before {
  content: "\e9b7";
}
.icon2-home:before {
  content: "\e9b8";
}
.icon2-hour-glass:before {
  content: "\e9b9";
}
.icon2-image-inverted:before {
  content: "\e9ba";
}
.icon2-image:before {
  content: "\e9bb";
}
.icon2-images:before {
  content: "\e9bc";
}
.icon2-inbox:before {
  content: "\e9bd";
}
.icon2-infinity:before {
  content: "\e9be";
}
.icon2-info-with-circle:before {
  content: "\e9bf";
}
.icon2-info:before {
  content: "\e9c0";
}
.icon2-key:before {
  content: "\e9c1";
}
.icon2-keyboard:before {
  content: "\e9c2";
}
.icon2-lab-flask:before {
  content: "\e9c3";
}
.icon2-landline:before {
  content: "\e9c4";
}
.icon2-language:before {
  content: "\e9c5";
}
.icon2-laptop:before {
  content: "\e9c6";
}
.icon2-leaf:before {
  content: "\e9c7";
}
.icon2-level-down:before {
  content: "\e9c8";
}
.icon2-level-up:before {
  content: "\e9c9";
}
.icon2-lifebuoy:before {
  content: "\e9ca";
}
.icon2-light-bulb:before {
  content: "\e9cb";
}
.icon2-light-down:before {
  content: "\e9cc";
}
.icon2-light-up:before {
  content: "\e9cd";
}
.icon2-line-graph:before {
  content: "\e9ce";
}
.icon2-link:before {
  content: "\e9cf";
}
.icon2-list:before {
  content: "\e9d0";
}
.icon2-location-pin:before {
  content: "\e9d1";
}
.icon2-location:before {
  content: "\e9d2";
}
.icon2-lock-open:before {
  content: "\e9d3";
}
.icon2-lock:before {
  content: "\e9d4";
}
.icon2-log-out:before {
  content: "\e9d5";
}
.icon2-login:before {
  content: "\e9d6";
}
.icon2-loop:before {
  content: "\e9d7";
}
.icon2-magnet:before {
  content: "\e9d8";
}
.icon2-magnifying-glass:before {
  content: "\e9d9";
}
.icon2-mail:before {
  content: "\e9da";
}
.icon2-man:before {
  content: "\e9db";
}
.icon2-map:before {
  content: "\e9dc";
}
.icon2-mask:before {
  content: "\e9dd";
}
.icon2-medal:before {
  content: "\e9de";
}
.icon2-megaphone:before {
  content: "\e9df";
}
.icon2-menu:before {
  content: "\e9e0";
}
.icon2-message:before {
  content: "\e9e1";
}
.icon2-mic:before {
  content: "\e9e2";
}
.icon2-minus:before {
  content: "\e9e3";
}
.icon2-mobile:before {
  content: "\e9e4";
}
.icon2-modern-mic:before {
  content: "\e9e5";
}
.icon2-moon:before {
  content: "\e9e6";
}
.icon2-mouse:before {
  content: "\e9e7";
}
.icon2-music:before {
  content: "\e9e8";
}
.icon2-network:before {
  content: "\e9e9";
}
.icon2-new-message:before {
  content: "\e9ea";
}
.icon2-new:before {
  content: "\e9eb";
}
.icon2-news:before {
  content: "\e9ec";
}
.icon2-note:before {
  content: "\e9ed";
}
.icon2-notification:before {
  content: "\e9ee";
}
.icon2-old-mobile:before {
  content: "\e9ef";
}
.icon2-old-phone:before {
  content: "\e9f0";
}
.icon2-palette:before {
  content: "\e9f1";
}
.icon2-paper-plane:before {
  content: "\e9f2";
}
.icon2-pencil:before {
  content: "\e9f3";
}
.icon2-phone:before {
  content: "\e9f4";
}
.icon2-pie-chart:before {
  content: "\e9f5";
}
.icon2-pin:before {
  content: "\e9f6";
}
.icon2-plus:before {
  content: "\e9f7";
}
.icon2-popup:before {
  content: "\e9f8";
}
.icon2-power-plug:before {
  content: "\e9f9";
}
.icon2-price-ribbon:before {
  content: "\e9fa";
}
.icon2-price-tag:before {
  content: "\e9fb";
}
.icon2-print:before {
  content: "\e9fc";
}
.icon2-progress-empty:before {
  content: "\e9fd";
}
.icon2-progress-full:before {
  content: "\e9fe";
}
.icon2-progress-one:before {
  content: "\e9ff";
}
.icon2-progress-two:before {
  content: "\ea00";
}
.icon2-publish:before {
  content: "\ea01";
}
.icon2-quote:before {
  content: "\ea02";
}
.icon2-radio:before {
  content: "\ea03";
}
.icon2-reply-all:before {
  content: "\ea04";
}
.icon2-reply:before {
  content: "\ea05";
}
.icon2-retweet:before {
  content: "\ea06";
}
.icon2-rocket:before {
  content: "\ea07";
}
.icon2-round-brush:before {
  content: "\ea08";
}
.icon2-rss:before {
  content: "\ea09";
}
.icon2-ruler:before {
  content: "\ea0a";
}
.icon2-scissors:before {
  content: "\ea0b";
}
.icon2-share-alternitive:before {
  content: "\ea0c";
}
.icon2-share:before {
  content: "\ea0d";
}
.icon2-shareable:before {
  content: "\ea0e";
}
.icon2-shield:before {
  content: "\ea0f";
}
.icon2-shop:before {
  content: "\ea10";
}
.icon2-shopping-bag:before {
  content: "\ea11";
}
.icon2-shopping-basket:before {
  content: "\ea12";
}
.icon2-shopping-cart:before {
  content: "\ea13";
}
.icon2-shuffle:before {
  content: "\ea14";
}
.icon2-signal:before {
  content: "\ea15";
}
.icon2-sound-mix:before {
  content: "\ea16";
}
.icon2-sports-club:before {
  content: "\ea17";
}
.icon2-spreadsheet:before {
  content: "\ea18";
}
.icon2-squared-cross:before {
  content: "\ea19";
}
.icon2-squared-minus:before {
  content: "\ea1a";
}
.icon2-squared-plus:before {
  content: "\ea1b";
}
.icon2-star-outlined:before {
  content: "\ea1c";
}
.icon2-star:before {
  content: "\ea1d";
}
.icon2-stopwatch:before {
  content: "\ea1e";
}
.icon2-suitcase:before {
  content: "\ea1f";
}
.icon2-swap:before {
  content: "\ea20";
}
.icon2-sweden:before {
  content: "\ea21";
}
.icon2-switch:before {
  content: "\ea22";
}
.icon2-tablet:before {
  content: "\ea23";
}
.icon2-tag:before {
  content: "\ea24";
}
.icon2-text-document-inverted:before {
  content: "\ea25";
}
.icon2-text-document:before {
  content: "\ea26";
}
.icon2-text:before {
  content: "\ea27";
}
.icon2-thermometer:before {
  content: "\ea28";
}
.icon2-thumbs-down:before {
  content: "\ea29";
}
.icon2-thumbs-up:before {
  content: "\ea2a";
}
.icon2-thunder-cloud:before {
  content: "\ea2b";
}
.icon2-ticket:before {
  content: "\ea2c";
}
.icon2-time-slot:before {
  content: "\ea2d";
}
.icon2-tools:before {
  content: "\ea2e";
}
.icon2-traffic-cone:before {
  content: "\ea2f";
}
.icon2-tree:before {
  content: "\ea30";
}
.icon2-trophy:before {
  content: "\ea31";
}
.icon2-tv:before {
  content: "\ea32";
}
.icon2-typing:before {
  content: "\ea33";
}
.icon2-unread:before {
  content: "\ea34";
}
.icon2-untag:before {
  content: "\ea35";
}
.icon2-user:before {
  content: "\ea36";
}
.icon2-users:before {
  content: "\ea37";
}
.icon2-v-card:before {
  content: "\ea38";
}
.icon2-video:before {
  content: "\ea39";
}
.icon2-vinyl:before {
  content: "\ea3a";
}
.icon2-voicemail:before {
  content: "\ea3b";
}
.icon2-wallet:before {
  content: "\ea3c";
}
.icon2-water:before {
  content: "\ea3d";
}
.icon2-px-with-circle:before {
  content: "\ea3e";
}
.icon2-px:before {
  content: "\ea3f";
}
.icon2-basecamp:before {
  content: "\ea40";
}
.icon2-behance:before {
  content: "\ea41";
}
.icon2-creative-cloud:before {
  content: "\ea42";
}
.icon2-dropbox:before {
  content: "\ea43";
}
.icon2-evernote:before {
  content: "\ea44";
}
.icon2-flattr:before {
  content: "\ea45";
}
.icon2-foursquare:before {
  content: "\ea46";
}
.icon2-google-drive:before {
  content: "\ea47";
}
.icon2-google-hangouts:before {
  content: "\ea48";
}
.icon2-grooveshark:before {
  content: "\ea49";
}
.icon2-icloud:before {
  content: "\ea4a";
}
.icon2-mixi:before {
  content: "\ea4b";
}
.icon2-onedrive:before {
  content: "\ea4c";
}
.icon2-paypal:before {
  content: "\ea4d";
}
.icon2-picasa:before {
  content: "\ea4e";
}
.icon2-qq:before {
  content: "\ea4f";
}
.icon2-rdio-with-circle:before {
  content: "\ea50";
}
.icon2-renren:before {
  content: "\ea51";
}
.icon2-scribd:before {
  content: "\ea52";
}
.icon2-sina-weibo:before {
  content: "\ea53";
}
.icon2-skype-with-circle:before {
  content: "\ea54";
}
.icon2-skype:before {
  content: "\ea55";
}
.icon2-slideshare:before {
  content: "\ea56";
}
.icon2-smashing:before {
  content: "\ea57";
}
.icon2-soundcloud:before {
  content: "\ea58";
}
.icon2-spotify-with-circle:before {
  content: "\ea59";
}
.icon2-spotify:before {
  content: "\ea5a";
}
.icon2-swarm:before {
  content: "\ea5b";
}
.icon2-vine-with-circle:before {
  content: "\ea5c";
}
.icon2-vine:before {
  content: "\ea5d";
}
.icon2-vk-alternitive:before {
  content: "\ea5e";
}
.icon2-vk-with-circle:before {
  content: "\ea5f";
}
.icon2-vk:before {
  content: "\ea60";
}
.icon2-xing-with-circle:before {
  content: "\ea61";
}
.icon2-xing:before {
  content: "\ea62";
}
.icon2-yelp:before {
  content: "\ea63";
}
.icon2-dribbble-with-circle:before {
  content: "\ea64";
}
.icon2-dribbble:before {
  content: "\ea65";
}
.icon2-facebook-with-circle:before {
  content: "\ea66";
}
.icon2-facebook:before {
  content: "\ea67";
}
.icon2-flickr-with-circle:before {
  content: "\ea68";
}
.icon2-flickr:before {
  content: "\ea69";
}
.icon2-github-with-circle:before {
  content: "\ea6a";
}
.icon2-github:before {
  content: "\ea6b";
}
.icon2-google-with-circle:before {
  content: "\ea6c";
}
.icon2-google:before {
  content: "\ea6d";
}
.icon2-instagram-with-circle:before {
  content: "\ea6e";
}
.icon2-instagram:before {
  content: "\ea6f";
}
.icon2-lastfm-with-circle:before {
  content: "\ea70";
}
.icon2-lastfm:before {
  content: "\ea71";
}
.icon2-linkedin-with-circle:before {
  content: "\ea72";
}
.icon2-linkedin:before {
  content: "\ea73";
}
.icon2-pinterest-with-circle:before {
  content: "\ea74";
}
.icon2-pinterest:before {
  content: "\ea75";
}
.icon2-rdio:before {
  content: "\ea76";
}
.icon2-stumbleupon-with-circle:before {
  content: "\ea77";
}
.icon2-stumbleupon:before {
  content: "\ea78";
}
.icon2-tumblr-with-circle:before {
  content: "\ea79";
}
.icon2-tumblr:before {
  content: "\ea7a";
}
.icon2-twitter-with-circle:before {
  content: "\ea7b";
}
.icon2-twitter:before {
  content: "\ea7c";
}
.icon2-vimeo-with-circle:before {
  content: "\ea7d";
}
.icon2-vimeo:before {
  content: "\ea7e";
}
.icon2-youtube-with-circle:before {
  content: "\ea7f";
}
.icon2-youtube:before {
  content: "\ea80";
}
.icon2-home2:before {
  content: "\ea81";
}
.icon2-home22:before {
  content: "\ea82";
}
.icon2-home3:before {
  content: "\ea83";
}
.icon2-office:before {
  content: "\ea84";
}
.icon2-newspaper:before {
  content: "\ea85";
}
.icon2-pencil2:before {
  content: "\ea86";
}
.icon2-pencil22:before {
  content: "\ea87";
}
.icon2-quill:before {
  content: "\ea88";
}
.icon2-pen:before {
  content: "\ea89";
}
.icon2-blog:before {
  content: "\ea8a";
}
.icon2-eyedropper:before {
  content: "\ea8b";
}
.icon2-droplet:before {
  content: "\ea8c";
}
.icon2-paint-format:before {
  content: "\ea8d";
}
.icon2-image2:before {
  content: "\ea8e";
}
.icon2-images2:before {
  content: "\ea8f";
}
.icon2-camera2:before {
  content: "\ea90";
}
.icon2-headphones:before {
  content: "\ea91";
}
.icon2-music2:before {
  content: "\ea92";
}
.icon2-play:before {
  content: "\ea93";
}
.icon2-film:before {
  content: "\ea94";
}
.icon2-video-camera:before {
  content: "\ea95";
}
.icon2-dice:before {
  content: "\ea96";
}
.icon2-pacman:before {
  content: "\ea97";
}
.icon2-spades:before {
  content: "\ea98";
}
.icon2-clubs:before {
  content: "\ea99";
}
.icon2-diamonds:before {
  content: "\ea9a";
}
.icon2-bullhorn:before {
  content: "\ea9b";
}
.icon2-connection:before {
  content: "\ea9c";
}
.icon2-podcast:before {
  content: "\ea9d";
}
.icon2-feed:before {
  content: "\ea9e";
}
.icon2-mic2:before {
  content: "\ea9f";
}
.icon2-book2:before {
  content: "\eaa0";
}
.icon2-books:before {
  content: "\eaa1";
}
.icon2-library:before {
  content: "\eaa2";
}
.icon2-file-text:before {
  content: "\eaa3";
}
.icon2-profile:before {
  content: "\eaa4";
}
.icon2-file-empty:before {
  content: "\eaa5";
}
.icon2-files-empty:before {
  content: "\eaa6";
}
.icon2-file-text2:before {
  content: "\eaa7";
}
.icon2-file-picture:before {
  content: "\eaa8";
}
.icon2-file-music:before {
  content: "\eaa9";
}
.icon2-file-play:before {
  content: "\eaaa";
}
.icon2-file-video:before {
  content: "\eaab";
}
.icon2-file-zip:before {
  content: "\eaac";
}
.icon2-copy2:before {
  content: "\eaad";
}
.icon2-paste:before {
  content: "\eaae";
}
.icon2-stack:before {
  content: "\eaaf";
}
.icon2-folder2:before {
  content: "\eab0";
}
.icon2-folder-open:before {
  content: "\eab1";
}
.icon2-folder-plus:before {
  content: "\eab2";
}
.icon2-folder-minus:before {
  content: "\eab3";
}
.icon2-folder-download:before {
  content: "\eab4";
}
.icon2-folder-upload:before {
  content: "\eab5";
}
.icon2-price-tag2:before {
  content: "\eab6";
}
.icon2-price-tags:before {
  content: "\eab7";
}
.icon2-barcode:before {
  content: "\eab8";
}
.icon2-qrcode:before {
  content: "\eab9";
}
.icon2-ticket2:before {
  content: "\eaba";
}
.icon2-cart:before {
  content: "\eabb";
}
.icon2-coin-dollar:before {
  content: "\eabc";
}
.icon2-coin-euro:before {
  content: "\eabd";
}
.icon2-coin-pound:before {
  content: "\eabe";
}
.icon2-coin-yen:before {
  content: "\eabf";
}
.icon2-credit-card2:before {
  content: "\eac0";
}
.icon2-calculator2:before {
  content: "\eac1";
}
.icon2-lifebuoy2:before {
  content: "\eac2";
}
.icon2-phone2:before {
  content: "\eac3";
}
.icon2-phone-hang-up:before {
  content: "\eac4";
}
.icon2-address-book:before {
  content: "\eac5";
}
.icon2-envelop:before {
  content: "\eac6";
}
.icon2-pushpin:before {
  content: "\eac7";
}
.icon2-location2:before {
  content: "\eac8";
}
.icon2-location22:before {
  content: "\eac9";
}
.icon2-compass2:before {
  content: "\eaca";
}
.icon2-compass22:before {
  content: "\eacb";
}
.icon2-map2:before {
  content: "\eacc";
}
.icon2-map22:before {
  content: "\eacd";
}
.icon2-history:before {
  content: "\eace";
}
.icon2-clock2:before {
  content: "\eacf";
}
.icon2-clock22:before {
  content: "\ead0";
}
.icon2-alarm:before {
  content: "\ead1";
}
.icon2-bell2:before {
  content: "\ead2";
}
.icon2-stopwatch2:before {
  content: "\ead3";
}
.icon2-calendar2:before {
  content: "\ead4";
}
.icon2-printer:before {
  content: "\ead5";
}
.icon2-keyboard2:before {
  content: "\ead6";
}
.icon2-display:before {
  content: "\ead7";
}
.icon2-laptop2:before {
  content: "\ead8";
}
.icon2-mobile2:before {
  content: "\ead9";
}
.icon2-mobile22:before {
  content: "\eada";
}
.icon2-tablet2:before {
  content: "\eadb";
}
.icon2-tv2:before {
  content: "\eadc";
}
.icon2-drawer:before {
  content: "\eadd";
}
.icon2-drawer2:before {
  content: "\eade";
}
.icon2-box-add:before {
  content: "\eadf";
}
.icon2-box-remove:before {
  content: "\eae0";
}
.icon2-download2:before {
  content: "\eae1";
}
.icon2-upload2:before {
  content: "\eae2";
}
.icon2-floppy-disk:before {
  content: "\eae3";
}
.icon2-drive2:before {
  content: "\eae4";
}
.icon2-database2:before {
  content: "\eae5";
}
.icon2-undo:before {
  content: "\eae6";
}
.icon2-redo:before {
  content: "\eae7";
}
.icon2-undo2:before {
  content: "\eae8";
}
.icon2-redo2:before {
  content: "\eae9";
}
.icon2-forward2:before {
  content: "\eaea";
}
.icon2-reply2:before {
  content: "\eaeb";
}
.icon2-bubble:before {
  content: "\eaec";
}
.icon2-bubbles:before {
  content: "\eaed";
}
.icon2-bubbles2:before {
  content: "\eaee";
}
.icon2-bubble2:before {
  content: "\eaef";
}
.icon2-bubbles3:before {
  content: "\eaf0";
}
.icon2-bubbles4:before {
  content: "\eaf1";
}
.icon2-user2:before {
  content: "\eaf2";
}
.icon2-users2:before {
  content: "\eaf3";
}
.icon2-user-plus:before {
  content: "\eaf4";
}
.icon2-user-minus:before {
  content: "\eaf5";
}
.icon2-user-check:before {
  content: "\eaf6";
}
.icon2-user-tie:before {
  content: "\eaf7";
}
.icon2-quotes-left:before {
  content: "\eaf8";
}
.icon2-quotes-right:before {
  content: "\eaf9";
}
.icon2-hour-glass2:before {
  content: "\eafa";
}
.icon2-spinner:before {
  content: "\eafb";
}
.icon2-spinner2:before {
  content: "\eafc";
}
.icon2-spinner3:before {
  content: "\eafd";
}
.icon2-spinner4:before {
  content: "\eafe";
}
.icon2-spinner5:before {
  content: "\eaff";
}
.icon2-spinner6:before {
  content: "\eb00";
}
.icon2-spinner7:before {
  content: "\eb01";
}
.icon2-spinner8:before {
  content: "\eb02";
}
.icon2-spinner9:before {
  content: "\eb03";
}
.icon2-spinner10:before {
  content: "\eb04";
}
.icon2-spinner11:before {
  content: "\eb05";
}
.icon2-binoculars:before {
  content: "\eb06";
}
.icon2-search:before {
  content: "\eb07";
}
.icon2-zoom-in:before {
  content: "\eb08";
}
.icon2-zoom-out:before {
  content: "\eb09";
}
.icon2-enlarge:before {
  content: "\eb0a";
}
.icon2-shrink:before {
  content: "\eb0b";
}
.icon2-enlarge2:before {
  content: "\eb0c";
}
.icon2-shrink2:before {
  content: "\eb0d";
}
.icon2-key2:before {
  content: "\eb0e";
}
.icon2-key22:before {
  content: "\eb0f";
}
.icon2-lock2:before {
  content: "\eb10";
}
.icon2-unlocked:before {
  content: "\eb11";
}
.icon2-wrench:before {
  content: "\eb12";
}
.icon2-equalizer:before {
  content: "\eb13";
}
.icon2-equalizer2:before {
  content: "\eb14";
}
.icon2-cog2:before {
  content: "\eb15";
}
.icon2-cogs:before {
  content: "\eb16";
}
.icon2-hammer:before {
  content: "\eb17";
}
.icon2-magic-wand:before {
  content: "\eb18";
}
.icon2-aid-kit:before {
  content: "\eb19";
}
.icon2-bug:before {
  content: "\eb1a";
}
.icon2-pie-chart2:before {
  content: "\eb1b";
}
.icon2-stats-dots:before {
  content: "\eb1c";
}
.icon2-stats-bars:before {
  content: "\eb1d";
}
.icon2-stats-bars2:before {
  content: "\eb1e";
}
.icon2-trophy2:before {
  content: "\eb1f";
}
.icon2-gift:before {
  content: "\eb20";
}
.icon2-glass:before {
  content: "\eb21";
}
.icon2-glass2:before {
  content: "\eb22";
}
.icon2-mug:before {
  content: "\eb23";
}
.icon2-spoon-knife:before {
  content: "\eb24";
}
.icon2-leaf2:before {
  content: "\eb25";
}
.icon2-rocket2:before {
  content: "\eb26";
}
.icon2-meter:before {
  content: "\eb27";
}
.icon2-meter2:before {
  content: "\eb28";
}
.icon2-hammer2:before {
  content: "\eb29";
}
.icon2-fire:before {
  content: "\eb2a";
}
.icon2-lab:before {
  content: "\eb2b";
}
.icon2-magnet2:before {
  content: "\eb2c";
}
.icon2-bin:before {
  content: "\eb2d";
}
.icon2-bin2:before {
  content: "\eb2e";
}
.icon2-briefcase2:before {
  content: "\eb2f";
}
.icon2-airplane:before {
  content: "\eb30";
}
.icon2-truck:before {
  content: "\eb31";
}
.icon2-road:before {
  content: "\eb32";
}
.icon2-accessibility:before {
  content: "\eb33";
}
.icon2-target:before {
  content: "\eb34";
}
.icon2-shield2:before {
  content: "\eb35";
}
.icon2-power:before {
  content: "\eb36";
}
.icon2-switch2:before {
  content: "\eb37";
}
.icon2-power-cord:before {
  content: "\eb38";
}
.icon2-clipboard2:before {
  content: "\eb39";
}
.icon2-list-numbered:before {
  content: "\eb3a";
}
.icon2-list2:before {
  content: "\eb3b";
}
.icon2-list22:before {
  content: "\eb3c";
}
.icon2-tree2:before {
  content: "\eb3d";
}
.icon2-menu2:before {
  content: "\eb3e";
}
.icon2-menu22:before {
  content: "\eb3f";
}
.icon2-menu3:before {
  content: "\eb40";
}
.icon2-menu4:before {
  content: "\eb41";
}
.icon2-cloud2:before {
  content: "\eb42";
}
.icon2-cloud-download:before {
  content: "\eb43";
}
.icon2-cloud-upload:before {
  content: "\eb44";
}
.icon2-cloud-check:before {
  content: "\eb45";
}
.icon2-download22:before {
  content: "\eb46";
}
.icon2-upload22:before {
  content: "\eb47";
}
.icon2-download3:before {
  content: "\eb48";
}
.icon2-upload3:before {
  content: "\eb49";
}
.icon2-sphere:before {
  content: "\eb4a";
}
.icon2-earth:before {
  content: "\eb4b";
}
.icon2-link2:before {
  content: "\eb4c";
}
.icon2-flag2:before {
  content: "\eb4d";
}
.icon2-attachment2:before {
  content: "\eb4e";
}
.icon2-eye2:before {
  content: "\eb4f";
}
.icon2-eye-plus:before {
  content: "\eb50";
}
.icon2-eye-minus:before {
  content: "\eb51";
}
.icon2-eye-blocked:before {
  content: "\eb52";
}
.icon2-bookmark2:before {
  content: "\eb53";
}
.icon2-bookmarks2:before {
  content: "\eb54";
}
.icon2-sun:before {
  content: "\eb55";
}
.icon2-contrast:before {
  content: "\eb56";
}
.icon2-brightness-contrast:before {
  content: "\eb57";
}
.icon2-star-empty:before {
  content: "\eb58";
}
.icon2-star-half:before {
  content: "\eb59";
}
.icon2-star-full:before {
  content: "\eb5a";
}
.icon2-heart2:before {
  content: "\eb5b";
}
.icon2-heart-broken:before {
  content: "\eb5c";
}
.icon2-man2:before {
  content: "\eb5d";
}
.icon2-woman:before {
  content: "\eb5e";
}
.icon2-man-woman:before {
  content: "\eb5f";
}
.icon2-happy:before {
  content: "\eb60";
}
.icon2-happy2:before {
  content: "\eb61";
}
.icon2-smile:before {
  content: "\eb62";
}
.icon2-smile2:before {
  content: "\eb63";
}
.icon2-tongue:before {
  content: "\eb64";
}
.icon2-tongue2:before {
  content: "\eb65";
}
.icon2-sad:before {
  content: "\eb66";
}
.icon2-sad2:before {
  content: "\eb67";
}
.icon2-wink:before {
  content: "\eb68";
}
.icon2-wink2:before {
  content: "\eb69";
}
.icon2-grin:before {
  content: "\eb6a";
}
.icon2-grin2:before {
  content: "\eb6b";
}
.icon2-cool:before {
  content: "\eb6c";
}
.icon2-cool2:before {
  content: "\eb6d";
}
.icon2-angry:before {
  content: "\eb6e";
}
.icon2-angry2:before {
  content: "\eb6f";
}
.icon2-evil:before {
  content: "\eb70";
}
.icon2-evil2:before {
  content: "\eb71";
}
.icon2-shocked:before {
  content: "\eb72";
}
.icon2-shocked2:before {
  content: "\eb73";
}
.icon2-baffled:before {
  content: "\eb74";
}
.icon2-baffled2:before {
  content: "\eb75";
}
.icon2-confused:before {
  content: "\eb76";
}
.icon2-confused2:before {
  content: "\eb77";
}
.icon2-neutral:before {
  content: "\eb78";
}
.icon2-neutral2:before {
  content: "\eb79";
}
.icon2-hipster:before {
  content: "\eb7a";
}
.icon2-hipster2:before {
  content: "\eb7b";
}
.icon2-wondering:before {
  content: "\eb7c";
}
.icon2-wondering2:before {
  content: "\eb7d";
}
.icon2-sleepy:before {
  content: "\eb7e";
}
.icon2-sleepy2:before {
  content: "\eb7f";
}
.icon2-frustrated:before {
  content: "\eb80";
}
.icon2-frustrated2:before {
  content: "\eb81";
}
.icon2-crying:before {
  content: "\eb82";
}
.icon2-crying2:before {
  content: "\eb83";
}
.icon2-point-up:before {
  content: "\eb84";
}
.icon2-point-right:before {
  content: "\eb85";
}
.icon2-point-down:before {
  content: "\eb86";
}
.icon2-point-left:before {
  content: "\eb87";
}
.icon2-warning2:before {
  content: "\eb88";
}
.icon2-notification2:before {
  content: "\eb89";
}
.icon2-question:before {
  content: "\eb8a";
}
.icon2-plus2:before {
  content: "\eb8b";
}
.icon2-minus2:before {
  content: "\eb8c";
}
.icon2-info2:before {
  content: "\eb8d";
}
.icon2-cancel-circle:before {
  content: "\eb8e";
}
.icon2-blocked:before {
  content: "\eb8f";
}
.icon2-cross2:before {
  content: "\eb90";
}
.icon2-checkmark:before {
  content: "\eb91";
}
.icon2-checkmark2:before {
  content: "\eb92";
}
.icon2-spell-check:before {
  content: "\eb93";
}
.icon2-enter:before {
  content: "\eb94";
}
.icon2-exit:before {
  content: "\eb95";
}
.icon2-play2:before {
  content: "\eb96";
}
.icon2-pause:before {
  content: "\eb97";
}
.icon2-stop:before {
  content: "\eb98";
}
.icon2-previous:before {
  content: "\eb99";
}
.icon2-next:before {
  content: "\eb9a";
}
.icon2-backward:before {
  content: "\eb9b";
}
.icon2-forward22:before {
  content: "\eb9c";
}
.icon2-play3:before {
  content: "\eb9d";
}
.icon2-pause2:before {
  content: "\eb9e";
}
.icon2-stop2:before {
  content: "\eb9f";
}
.icon2-backward2:before {
  content: "\eba0";
}
.icon2-forward3:before {
  content: "\eba1";
}
.icon2-first:before {
  content: "\eba2";
}
.icon2-last:before {
  content: "\eba3";
}
.icon2-previous2:before {
  content: "\eba4";
}
.icon2-next2:before {
  content: "\eba5";
}
.icon2-eject:before {
  content: "\eba6";
}
.icon2-volume-high:before {
  content: "\eba7";
}
.icon2-volume-medium:before {
  content: "\eba8";
}
.icon2-volume-low:before {
  content: "\eba9";
}
.icon2-volume-mute:before {
  content: "\ebaa";
}
.icon2-volume-mute2:before {
  content: "\ebab";
}
.icon2-volume-increase:before {
  content: "\ebac";
}
.icon2-volume-decrease:before {
  content: "\ebad";
}
.icon2-loop2:before {
  content: "\ebae";
}
.icon2-loop22:before {
  content: "\ebaf";
}
.icon2-infinite:before {
  content: "\ebb0";
}
.icon2-shuffle2:before {
  content: "\ebb1";
}
.icon2-arrow-up-left:before {
  content: "\ebb2";
}
.icon2-arrow-up2:before {
  content: "\ebb3";
}
.icon2-arrow-up-right:before {
  content: "\ebb4";
}
.icon2-arrow-right2:before {
  content: "\ebb5";
}
.icon2-arrow-down-right:before {
  content: "\ebb6";
}
.icon2-arrow-down2:before {
  content: "\ebb7";
}
.icon2-arrow-down-left:before {
  content: "\ebb8";
}
.icon2-arrow-left2:before {
  content: "\ebb9";
}
.icon2-arrow-up-left2:before {
  content: "\ebba";
}
.icon2-arrow-up22:before {
  content: "\ebbb";
}
.icon2-arrow-up-right2:before {
  content: "\ebbc";
}
.icon2-arrow-right22:before {
  content: "\ebbd";
}
.icon2-arrow-down-right2:before {
  content: "\ebbe";
}
.icon2-arrow-down22:before {
  content: "\ebbf";
}
.icon2-arrow-down-left2:before {
  content: "\ebc0";
}
.icon2-arrow-left22:before {
  content: "\ebc1";
}
.icon2-circle-up:before {
  content: "\ebc2";
}
.icon2-circle-right:before {
  content: "\ebc3";
}
.icon2-circle-down:before {
  content: "\ebc4";
}
.icon2-circle-left:before {
  content: "\ebc5";
}
.icon2-tab:before {
  content: "\ebc6";
}
.icon2-move-up:before {
  content: "\ebc7";
}
.icon2-move-down:before {
  content: "\ebc8";
}
.icon2-sort-alpha-asc:before {
  content: "\ebc9";
}
.icon2-sort-alpha-desc:before {
  content: "\ebca";
}
.icon2-sort-numeric-asc:before {
  content: "\ebcb";
}
.icon2-sort-numberic-desc:before {
  content: "\ebcc";
}
.icon2-sort-amount-asc:before {
  content: "\ebcd";
}
.icon2-sort-amount-desc:before {
  content: "\ebce";
}
.icon2-command:before {
  content: "\ebcf";
}
.icon2-shift:before {
  content: "\ebd0";
}
.icon2-ctrl:before {
  content: "\ebd1";
}
.icon2-opt:before {
  content: "\ebd2";
}
.icon2-checkbox-checked:before {
  content: "\ebd3";
}
.icon2-checkbox-unchecked:before {
  content: "\ebd4";
}
.icon2-radio-checked:before {
  content: "\ebd5";
}
.icon2-radio-checked2:before {
  content: "\ebd6";
}
.icon2-radio-unchecked:before {
  content: "\ebd7";
}
.icon2-crop:before {
  content: "\ebd8";
}
.icon2-make-group:before {
  content: "\ebd9";
}
.icon2-ungroup:before {
  content: "\ebda";
}
.icon2-scissors2:before {
  content: "\ebdb";
}
.icon2-filter:before {
  content: "\ebdc";
}
.icon2-font:before {
  content: "\ebdd";
}
.icon2-ligature:before {
  content: "\ebde";
}
.icon2-ligature2:before {
  content: "\ebdf";
}
.icon2-text-height:before {
  content: "\ebe0";
}
.icon2-text-width:before {
  content: "\ebe1";
}
.icon2-font-size:before {
  content: "\ebe2";
}
.icon2-bold:before {
  content: "\ebe3";
}
.icon2-underline:before {
  content: "\ebe4";
}
.icon2-italic:before {
  content: "\ebe5";
}
.icon2-strikethrough:before {
  content: "\ebe6";
}
.icon2-omega:before {
  content: "\ebe7";
}
.icon2-sigma:before {
  content: "\ebe8";
}
.icon2-page-break:before {
  content: "\ebe9";
}
.icon2-superscript:before {
  content: "\ebea";
}
.icon2-subscript:before {
  content: "\ebeb";
}
.icon2-superscript2:before {
  content: "\ebec";
}
.icon2-subscript2:before {
  content: "\ebed";
}
.icon2-text-color:before {
  content: "\ebee";
}
.icon2-pagebreak:before {
  content: "\ebef";
}
.icon2-clear-formatting:before {
  content: "\ebf0";
}
.icon2-table:before {
  content: "\ebf1";
}
.icon2-table2:before {
  content: "\ebf2";
}
.icon2-insert-template:before {
  content: "\ebf3";
}
.icon2-pilcrow:before {
  content: "\ebf4";
}
.icon2-ltr:before {
  content: "\ebf5";
}
.icon2-rtl:before {
  content: "\ebf6";
}
.icon2-section:before {
  content: "\ebf7";
}
.icon2-paragraph-left:before {
  content: "\ebf8";
}
.icon2-paragraph-center:before {
  content: "\ebf9";
}
.icon2-paragraph-right:before {
  content: "\ebfa";
}
.icon2-paragraph-justify:before {
  content: "\ebfb";
}
.icon2-indent-increase:before {
  content: "\ebfc";
}
.icon2-indent-decrease:before {
  content: "\ebfd";
}
.icon2-share2:before {
  content: "\ebfe";
}
.icon2-new-tab:before {
  content: "\ebff";
}
.icon2-embed:before {
  content: "\ec00";
}
.icon2-embed2:before {
  content: "\ec01";
}
.icon2-terminal:before {
  content: "\ec02";
}
.icon2-share22:before {
  content: "\ec03";
}
.icon2-mail2:before {
  content: "\ec04";
}
.icon2-mail22:before {
  content: "\ec05";
}
.icon2-mail3:before {
  content: "\ec06";
}
.icon2-mail4:before {
  content: "\ec07";
}
.icon2-amazon:before {
  content: "\ec08";
}
.icon2-google2:before {
  content: "\ec09";
}
.icon2-google22:before {
  content: "\ec0a";
}
.icon2-google3:before {
  content: "\ec0b";
}
.icon2-google-plus:before {
  content: "\ec0c";
}
.icon2-google-plus2:before {
  content: "\ec0d";
}
.icon2-google-plus3:before {
  content: "\ec0e";
}
.icon2-hangouts:before {
  content: "\ec0f";
}
.icon2-google-drive2:before {
  content: "\ec10";
}
.icon2-facebook2:before {
  content: "\ec11";
}
.icon2-facebook22:before {
  content: "\ec12";
}
.icon2-instagram2:before {
  content: "\ec13";
}
.icon2-whatsapp:before {
  content: "\ec14";
}
.icon2-spotify2:before {
  content: "\ec15";
}
.icon2-telegram:before {
  content: "\ec16";
}
.icon2-twitter2:before {
  content: "\ec17";
}
.icon2-vine2:before {
  content: "\ec18";
}
.icon2-vk2:before {
  content: "\ec19";
}
.icon2-renren2:before {
  content: "\ec1a";
}
.icon2-sina-weibo2:before {
  content: "\ec1b";
}
.icon2-rss2:before {
  content: "\ec1c";
}
.icon2-rss22:before {
  content: "\ec1d";
}
.icon2-youtube2:before {
  content: "\ec1e";
}
.icon2-youtube22:before {
  content: "\ec1f";
}
.icon2-twitch:before {
  content: "\ec20";
}
.icon2-vimeo2:before {
  content: "\ec21";
}
.icon2-vimeo22:before {
  content: "\ec22";
}
.icon2-lanyrd:before {
  content: "\ec23";
}
.icon2-flickr2:before {
  content: "\ec24";
}
.icon2-flickr22:before {
  content: "\ec25";
}
.icon2-flickr3:before {
  content: "\ec26";
}
.icon2-flickr4:before {
  content: "\ec27";
}
.icon2-dribbble2:before {
  content: "\ec28";
}
.icon2-behance2:before {
  content: "\ec29";
}
.icon2-behance22:before {
  content: "\ec2a";
}
.icon2-deviantart:before {
  content: "\ec2b";
}
.icon2-500px:before {
  content: "\ec2c";
}
.icon2-steam:before {
  content: "\ec2d";
}
.icon2-steam2:before {
  content: "\ec2e";
}
.icon2-dropbox2:before {
  content: "\ec2f";
}
.icon2-onedrive2:before {
  content: "\ec30";
}
.icon2-github2:before {
  content: "\ec31";
}
.icon2-npm:before {
  content: "\ec32";
}
.icon2-basecamp2:before {
  content: "\ec33";
}
.icon2-trello:before {
  content: "\ec34";
}
.icon2-wordpress:before {
  content: "\ec35";
}
.icon2-joomla:before {
  content: "\ec36";
}
.icon2-ello:before {
  content: "\ec37";
}
.icon2-blogger:before {
  content: "\ec38";
}
.icon2-blogger2:before {
  content: "\ec39";
}
.icon2-tumblr2:before {
  content: "\ec3a";
}
.icon2-tumblr22:before {
  content: "\ec3b";
}
.icon2-yahoo:before {
  content: "\ec3c";
}
.icon2-yahoo2:before {
  content: "\ec3d";
}
.icon2-tux:before {
  content: "\ec3e";
}
.icon2-appleinc:before {
  content: "\ec3f";
}
.icon2-finder:before {
  content: "\ec40";
}
.icon2-android:before {
  content: "\ec41";
}
.icon2-windows:before {
  content: "\ec42";
}
.icon2-windows8:before {
  content: "\ec43";
}
.icon2-soundcloud2:before {
  content: "\ec44";
}
.icon2-soundcloud22:before {
  content: "\ec45";
}
.icon2-skype2:before {
  content: "\ec46";
}
.icon2-reddit:before {
  content: "\ec47";
}
.icon2-hackernews:before {
  content: "\ec48";
}
.icon2-wikipedia:before {
  content: "\ec49";
}
.icon2-linkedin2:before {
  content: "\ec4a";
}
.icon2-linkedin22:before {
  content: "\ec4b";
}
.icon2-lastfm2:before {
  content: "\ec4c";
}
.icon2-lastfm22:before {
  content: "\ec4d";
}
.icon2-delicious:before {
  content: "\ec4e";
}
.icon2-stumbleupon2:before {
  content: "\ec4f";
}
.icon2-stumbleupon22:before {
  content: "\ec50";
}
.icon2-stackoverflow:before {
  content: "\ec51";
}
.icon2-pinterest2:before {
  content: "\ec52";
}
.icon2-pinterest22:before {
  content: "\ec53";
}
.icon2-xing2:before {
  content: "\ec54";
}
.icon2-xing22:before {
  content: "\ec55";
}
.icon2-flattr2:before {
  content: "\ec56";
}
.icon2-foursquare2:before {
  content: "\ec57";
}
.icon2-yelp2:before {
  content: "\ec58";
}
.icon2-paypal2:before {
  content: "\ec59";
}
.icon2-chrome:before {
  content: "\ec5a";
}
.icon2-firefox:before {
  content: "\ec5b";
}
.icon2-IE:before {
  content: "\ec5c";
}
.icon2-edge:before {
  content: "\ec5d";
}
.icon2-safari:before {
  content: "\ec5e";
}
.icon2-opera:before {
  content: "\ec5f";
}
.icon2-file-pdf:before {
  content: "\ec60";
}
.icon2-file-openoffice:before {
  content: "\ec61";
}
.icon2-file-word:before {
  content: "\ec62";
}
.icon2-file-excel:before {
  content: "\ec63";
}
.icon2-libreoffice:before {
  content: "\ec64";
}
.icon2-html-five:before {
  content: "\ec65";
}
.icon2-html-five2:before {
  content: "\ec66";
}
.icon2-css3:before {
  content: "\ec67";
}
.icon2-git:before {
  content: "\ec68";
}
.icon2-codepen:before {
  content: "\ec69";
}
.icon2-svg:before {
  content: "\ec6a";
}
.icon2-IcoMoon:before {
  content: "\ec6b";
}
