/* Imarisha stylesheet by Irene Njeri*/
@charset "utf-8";
html,body,*,[class*="im"] {
	font-family:"Century Gothic",Verdana,sans-serif;
}
h1,h2,h3,h4,h5,h6,.w3-slim,.w3-wide{
	font-family:"Century Gothic","Segoe UI",Arial,sans-serif;
}
.im-body{background-color: #ff99cc;}
#coach-container, .im-container {
	background: #33ccff;
  background: -webkit-linear-gradient(top, #33ccff 0%, #ff99cc 100%); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom, #33ccff 0%, #ff99cc 100%); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom, #33ccff 0%, #ff99cc 100%); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); /*Standard*/
	background-repeat: no-repeat;
	padding: 40px 0;
	position: relative;
}
#coach-content-container, .im-display-container {
	background-color: #fff;
	min-height: 600px;
	width: 92%;
	border-radius: 30px;
	margin: auto;
	position: relative;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)!important;
}
#coach-content-left, .im-sidenav {
  background: #6875c4;
  background: -webkit-linear-gradient(top, #3485de 50%, #1ebceb 100%); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom, #3485de 50%, #1ebceb 100%); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom, #3485de 50%, #1ebceb 100%); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #3485de 50%, #1ebceb 100%); /*Standard*/
	height: 100%;
	width: 100px;
	border-radius: inherit;
	position: absolute;
  color: white;
}
#coach-profile-pic, .im-navtop {
	height: 70px;
	overflow: hidden;
	border-top-left-radius: inherit;
}
#coach-profile-pic img {/*TODO: REMOVE*/
	border-top-left-radius: inherit;
}
#coach-left-menu, .im-navmain {
	text-align: center !important; 
	margin-top: 40px;
	padding: 8px 16px !important;
	width: 100%;
}
.coach-menu-item, .im-nav-btn {
	margin-bottom: 30px;
	border-radius: 30px;
	width: 90%;
	background-color: inherit;
}
.coach-menu-item i, .im-nav-btn i {
	font-size: 2em;
	color: inherit;
}
.coach-menu-item-active, .im-nav-btn.active {
	border-left: 1px solid #ffe6f3;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}
.coach-menu-item-active:hover, .im-nav-btn.active:hover {
	box-shadow: none;
}
#coach-menu-logo, .im-nav-logo {
	font-size: 1.5em;
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
}
#coach-main-content, .im-main {
	position: relative;
	height: inherit;
	margin-left: 100px;
}
#coach-main-top, .im-content-top {
	width: 100%;
	height: 55px;
	border-top-right-radius: 30px;
	padding: 0 15px;
}
#coach-main-top-dets, .im-prof-box {
	display: inline-block;
}
.coach-profile-name, .im-prof-name {
	font-size: 1.4em;
}
a.coach-btn, .im-prof-btn {
	text-decoration: none;
}
.coach-btn i, .im-prof-btn i {
	font-size: 1.1em;
	vertical-align: -2px;
}
#coach-work-details, .im-prof-summ {
	text-transform: capitalize;
	font-size: 0.9em;
	margin-top: -8px;
}
#coach-main-left, .im-content-main {
	height: inherit;
	overflow: auto;
	margin: auto;
}
.add-video-btn, .im-content-topright {/*TODO: Make page-local*/
	display: inline-block;
	float: right !important;
	margin: 15px 10px
}
.add-video-btn button, 
a.im-top-btn, 
button.im-top-btn {/*TODO: Make page-local*/
	text-decoration: none;
	letter-spacing: 1px;
	background-color: inherit;
	color: #3485de;
	border: 1.3px solid #3485de;
	border-radius: 10px;
}
.disabled, .im-disabled{
	cursor: auto !important;
	opacity: 0.3;
}
.coach-calendar-day {/*TODO: Make page-local*/
	background: #0099cc;
  background: -webkit-linear-gradient(150deg, #0099cc 0%, #ff80c1 140%); /*Safari 5.1-6*/
  background: -o-linear-gradient(-150deg, #0099cc 0%, #ff80c1 140%); /*Opera 11.1-12*/
  background: -moz-linear-gradient(-150deg, #0099cc 0%, #ff80c1 140%); /*Fx 3.6-15*/
  background: linear-gradient(-150deg, #0099cc 0%, #ff80c1 140%); /*Standard*/
	border-bottom-left-radius: 20px;
}

@-webkit-keyframes opac-out{from{opacity:1} to{opacity:0}}
@keyframes opac-out{from{opacity:1} to{opacity:0}}

/*[class*="icon2"] {
	vertical-align: -2px;
}*/
.extable-header {
	color: #3485de;
	padding: 5px 16px;
	text-transform: capitalize;
	}
	.extable-singleday-container {
		width: 10%;
		margin: 0 12px 10px;
	}
	.extable-tg-day {
		width: 100%;
		border: 1px solid #3485de;
		border-radius: 20px;
		background: inherit;
		color: inherit;
		text-transform: capitalize;
	}
	.extable-tg-day.active {
		background: #abcdf1;
	  background: -webkit-linear-gradient(-45deg, #abcdf1 0%, #3485de 80%); /*Safari 5.1-6*/
	  background: -o-linear-gradient(45deg, #abcdf1 0%, #3485de 80%); /*Opera 11.1-12*/
	  background: -moz-linear-gradient(45deg, #abcdf1 0%, #3485de 80%); /*Fx 3.6-15*/
	  background: linear-gradient(45deg, #abcdf1 0%, #3485de 80%); /*Standard*/
		color: white;
		border: none;
	}
	.extable-form {
		max-height: 400px;
		overflow-y: auto;
		padding-bottom: 10px;
	}
	.extable {
		font-family: century gothic;
		overflow-x: auto;
	}
	.extable-row-exercise {
		border-bottom: 1px dashed #cccccc;
	}
	.extable-col-title {
		width: 25%;
		text-transform: capitalize;
	}
	.extable-col-instr {
		width: 45%;
	}
	.extable-ex_instr, .im-textarea, im-input {
		min-width: 100%;
		width: 100%;
		min-height: 65px;
		height: 65px;
		border: none;
		border-radius: 10px;
		background: inherit;
		letter-spacing: 1px;
	}
	.extable-col-actionbtns {
		font-size: 1.1em;
		width: 20%;
	}
	.im-btn-round, .im-btn-round button, .im-btn-round a,
	.extable-btn button, .extable-btn a {
		border-radius: 20px;
		background: inherit;
	}
	.extable-col-submit-container {
		width: 100%;
		padding: 15px;
	}
	.extable-btn-submit button, .extable-btn-submit a {
		letter-spacing: 1px;
		border-radius: 15px;
		padding-bottom: 6px;
		font-size: 1.1em;
	}
	.extable-row-addExercise {
		background-color: #fff!important;
	}
	.extable-col-select-ex {
		width: 30%;
	}
	.extable-select-ex {
		text-transform: capitalize;
		display: inline-block;
	}
	.extable-col-add-instr {
		width: 40%;
	}
	.extable-add-instr {
		width: 100%;
		border: none;
		border-bottom: 2px solid #d9d9d9!important;
		letter-spacing: 2px;
	}
	.extable-col-addbtns {
		font-size: 1.1em;
		width: 20%;
	}
	.new-elem, 
	.new-elem .extable-ex_instr, .new-elem .im-textarea, .new-elem .im-input, 
	.edited-elem .extable-ex_instr, .edited-elem .im-textarea, .edited-elem .im-input {
		color: #367c3a;
	}
	.new-elem .extable-ex_instr, .edited-elem .extable-ex_instr {
		font-weight: bold;
	}
	.editing-elem .extable-ex_instr, 
	.editing-elem textarea, 
	.editing-elem input {
		border-left: 2px solid #a6a6a6 !important;
		border-bottom: 2px solid #a6a6a6 !important;
	}
	.editing-elem .extable-ex_instr, 
	.editing-elem textarea, 
	.editing-elem input,
	.extable-add-instr {
		background-color: #f2f2f2;
	}
	.edited-elem {
		background-color: #e9fce9!important;
	}
	.deleting-elem {
		background-color: #fee8e7!important;
	}
	.stud, .hide {
		display: none;
	}
	.show-inline {
		display: inline;
	}
	.show-inline-block {
		display: inline-block;
	}
	.show-block {
		display: block;
	}
.coach-sess-container, .im-aside {
	background: #1ebceb;
  background: -webkit-linear-gradient(-45deg, #abcdf1 30%, #1ebceb 80%); /*Safari 5.1-6*/
  background: -o-linear-gradient(45deg, #abcdf1 30%, #1ebceb 80%); /*Opera 11.1-12*/
  background: -moz-linear-gradient(45deg, #abcdf1 30%, #1ebceb 80%); /*Fx 3.6-15*/
  background: linear-gradient(45deg, #abcdf1 30%, #1ebceb 80%); /*Standard*/
  color: #fff;
	width: 93%;
	min-height: 280px;
	max-height: 500px;
	overflow: auto;
	margin: auto;
	border-radius: 20px;
}
#coach-sess-top, .im-aside-top {
	position: relative;
	text-align: center !important;
	width: 100%;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
#coach-datetime-container {
	padding: 5px 0 0 0;
}
#coach-date-container {
	font-size: 0.85em;
	margin-top: -20px;
}
#coach-sess-title, .im-aside-title {
	background: #4baee2;
  background: -webkit-linear-gradient(-45deg, #4baee2 40%, #5197d8 80%); /*Safari 5.1-6*/
  background: -o-linear-gradient(45deg, #4baee2 40%, #5197d8 80%); /*Opera 11.1-12*/
  background: -moz-linear-gradient(45deg,#4baee2 40%, #5197d8 80%); /*Fx 3.6-15*/
  background: linear-gradient(45deg, #4baee2 40%, #5197d8 80%); /*Standard*/
	width: 100%;
	padding: 1px;
	margin-top: 10px;
	font-size: 0.7em;
	text-align: center !important;
}
#coach-sess-title h5 {
	font-size: 16px;
}
#coach-sessions, .im-aside-content {
	padding: 15px 0;
}
.coach-session {
	background: #4baee2;
  background: -webkit-linear-gradient(-45deg, #4baee2 40%, #5197d8 80%); /*Safari 5.1-6*/
  background: -o-linear-gradient(45deg, #4baee2 40%, #5197d8 80%); /*Opera 11.1-12*/
  background: -moz-linear-gradient(45deg,#4baee2 40%, #5197d8 80%); /*Fx 3.6-15*/
  background: linear-gradient(45deg, #4baee2 40%, #5197d8 80%); /*Standard*/
	width: 80%;
	border-radius: 10px;
	margin: auto;
	padding: 1px 0;
	margin-top: 5px
}
.coach-session-starttime {
	font-size: 28px;
}
.coach-session-btn {
	display: inline-block;
	background: rgba(0,0,0,0);
	padding: 2px 4px 0 4px;
	font-size: 0.9em;
}
.coach-session-record {
	border: 1px solid white;
	margin: 6px;
	border-radius: 50%;
} 
.coach-session-endtime {
	margin: 3px;
} 

header#homepage-header {
	max-width: 1500px;
	height: 450px;
	background-image: url('../images/header.jpg');
}
header#homepage-header #header-contacts{
	min-width: 500px;
	min-height: 60px;
}
h2.prog-title {	
	font-size: 28px;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
}
h2.prog-title:after {
  width: 80px;
  height: 2px;
  background: #f73471;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.service-title {
	font-size: 40px;
	position: relative;
	padding-top: 30px;
	text-transform: uppercase;
	font-weight: 800;
}
.service-title:before {
  width: 80px;
  height: 2px;
  background: #f73471;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.td_time {
	margin: auto;
  width: 60%;
  border-bottom: 1px dashed rgba(255,255,255,0.2);
}
.td_time:last-child {
	border-bottom: none;
}
#homepage-content {
	max-width: 1564px;
}
.program {
	height: 260px;
}
.program-content {
	height: 250px;
	overflow: hidden;	
}
.program-img {
	width: 100%;
}
.program-title {
	margin-top: -5px;
	width: 100%;
	background: rgba(255,255,255,0.8);
	overflow: hidden;	
}
.program-name {
	font-size: 1.2em;
	text-transform: capitalize;
}
.program-instr {
	height: 70px;
	overflow-y: auto;
}
.selected_prog, .program-price {
	background: #CD7F32;
  background: -webkit-linear-gradient(-45deg, #CD7F32 50%, #FFD700 100%); /*Safari 5.1-6*/
  background: -o-linear-gradient(45deg, #CD7F32 50%, #FFD700 100%); /*Opera 11.1-12*/
  background: -moz-linear-gradient(45deg, #CD7F32 50%, #FFD700 100%); /*Fx 3.6-15*/
  background: linear-gradient(45deg, #CD7F32 50%, #FFD700 100%); /*Standard*/
  color: #fff;
}
.program-price {
  font-weight: 800;
}
.program-time-details {
	font-size: 0.5em;
	margin: 10px;
}
.trainer {
	min-height: 213px;
}
.trainer-img {
	background-color: white;
	height: 200px;
	overflow: hidden;
}
.trainer-img img {
	width: 100%;
}
.trainer-role {
	text-transform: uppercase;
}
.trainer-name {
	font-family: arial;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: bold;
}
.trainer-social {
	background-color: black;
}
.trainer-social a {
	/*background-color: blue;*/
	padding: 0 10px;
	text-decoration: none;
}
.trainer-social a::after {
	content: ' o';
	font-size: 0.5em;
}
.trainer-social-icon {
	font-size: 1.9em;
}
.trainer-descr {
	font-size: 0.9em;
}
#exercise-list li {
	margin: 10px;
}
.exercise-icon {
	font-size: 2.5em;
}
.exercise-name {
	font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	vertical-align: text-bottom;
	font-size: 1.5em;
	text-transform: capitalize;
}
.tt-day-title {
	background: #000;
  background: -webkit-linear-gradient(-45deg, #000 0%, #555 100%); /*Safari 5.1-6*/
  background: -o-linear-gradient(45deg, #000 0%, #555 100%); /*Opera 11.1-12*/
  background: -moz-linear-gradient(45deg, #000 0%, #555 100%); /*Fx 3.6-15*/
  background: linear-gradient(45deg, #000 0%, #555 100%); /*Standard*/
	text-transform: capitalize;
  color: #fff;
}
.tt-session {
	min-height: 160px;
	margin-bottom: 5px;
}
.tt-code4 {
	color:#fff!important;
	background-color: #2196F3!important;/*w3-blue*/
}
.tt-code {
	color:#000!important;
	background-color: #9e9e9e!important;/*w3-grey*/
}
.tt-code8 {
	color:#fff!important;
	background-color: #CD7F32!important;/*bronze*/
}
.tt-code5 {
	color:#fff!important;
	background-color: #009688!important;/*w3-teal*/
}
.tt-code6 {
	color:#fff!important;
	background-color: #9c27b0!important;/*w3-purple*/
}
.tt-code7 {
	color:#fff!important;
	background-color: #4CAF50!important;/*w3-green*/
}
.tt-code-private {
	color:#fff!important;
	background-color: #FFD700!important;/*gold*/
}
.tt-text-code4 {
	color: #2196F3!important;/*w3-text-blue*/
}
.tt-text-code {
	color: #9e9e9e!important;/*w3-text-grey*/
}
.tt-text-code8 {
	color: #CD7F32!important;/*bronze*/
}
.tt-text-code5 {
	color: #009688!important;/*w3-text-teal*/
}
.tt-text-code6 {
	color: #9c27b0!important;/*w3-text-purple*/
}
.tt-text-code7 {
	color: #4CAF50!important;/*w3-text-green*/
}
.tt-text-code-private {
	color: #FFD700!important;/*gold*/
}

.tt-border-code4 {
	border-color: #2196F3!important;/*w3-text-blue*/
}
.tt-border-code {
	border-color: #9e9e9e!important;/*w3-text-grey*/
}
.tt-border-code8 {
	border-color: #CD7F32!important;/*bronze*/
}
.tt-border-code5 {
	border-color: #009688!important;/*w3-text-teal*/
}
.tt-border-code6 {
	border-color: #9c27b0!important;/*w3-text-purple*/
}
.tt-border-code7 {
	border-color: #4CAF50!important;/*w3-text-green*/
}
.tt-border-code-private {
	border-color: #FFD700!important;/*gold*/
}

.tt-program {
	text-transform: uppercase;
	font-size: 0.9em;
}
.tt-trainer, .tt-trainees {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

footer div.social-container a {
	text-decoration: none;
}
footer span.social-icon-container {
	width: 60px;
	display: inline-block;
}
footer span.social-icon {
	font-size: 2em;
}
footer div.loc {
	padding: 10px 0;
}
/* section#member_top */
#logo {
	display:inline-block;
}
a#pkg-bronze {
	display: inline;
	padding: 0;
	font-weight: bold;
}
a#pkg-bronze:hover {
	background-color: white;
}
#profile {
	margin-right: 20px;
	display: inline-block;
}
#profile img {
	width: 45px;
	height: 45px;
}
#page_content {
	max-width: 1564px;
	min-height: 500px;
}

form#sign-in input {
	padding: 8px;
	border: none;
	border-bottom: 1px solid #808080;
}
#social li {
	display: inline-block;
}

.session {
	height: 180px;
	overflow-y: auto;
}
#member-signup-container {
	max-width: 1564px;
	margin-top: 50px;
}
#member-signup {
}
li.prog {
	width: 90%;
	margin: 10px 0;
}
li.prog h4 {
	position: relative;
	text-transform: capitalize;
}
li.prog input[type='radio'] {
	position: absolute;
	top: 10px;
	left: 15px;
}
.msgs-container {
	position: fixed;
	top: 50px;
	left: 50px;
	z-index: 10;
	-webkit-animation: opac-out 1.5s linear 8.5s;
	animation: opac-out 1.5s linear 8.5s;
}
#extable-msgs {
	left: 155px;
}
.msgbox {
	border-radius: 20px;
	text-transform: capitalize;
}
.msgbox .msg{
	color: white;
	border-radius: inherit;
}
.msgbox-success {
	background: rgba(62, 193, 95, 0.95);
}
.msgbox-fail {
	background: rgba(244, 67, 54, 0.9);
}
.closebtn {
	background: rgba(244, 67, 54, 0.95);
	border-radius: inherit;
	color: white;
}
.closebtn:hover {
	cursor: pointer;
}
/*Generic msgs-container*/

@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
@-webkit-keyframes opac-out{from{opacity:1} to{opacity:0}}
@keyframes opac-out{from{opacity:1} to{opacity:0}}

.im-msgs-container {
	position: fixed;
	top: 50px;
	left: 50px;
	z-index: 10;
	-webkit-animation: opac-out 1.5s linear 8.5s;
	animation: opac-out 1.5s linear 8.5s;
}
.im-msgbox {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
	display: inline-block;
	border-radius: 20px;
	font-size: 18px;
	text-transform: capitalize;
}
.im-msgbox .im-msg {
	display: inline-block;
	padding: 8px 4px 8px 16px!important;
	color: white;
	border-radius: inherit;
	vertical-align: 2px;
}
.im-msgbox-success {
	background: rgba(62, 193, 95, 0.95);
}
.im-msgbox-fail {
	background: rgba(244, 67, 54, 0.9);
}
.im-closebtn {
	display: inline-block;
	background: rgba(244, 67, 54, 0.95);
	padding: 8px 16px!important;
	border: none;
	border-radius: inherit;
	color: white;
}
.im-closebtn:hover {
	cursor: pointer;
}
/*End of Generic msgs-container */

i.ex-info:hover {
	cursor: pointer;
}
.ex-descr {
	margin-top: -5px;
	border-radius: 5px;
}
.ex-descr:before {
	position: absolute;
	top: -20px;
	left: 5%;
	content: ' ';
	border-bottom: 10px solid #2196F3;
	border-left: 10px solid rgba(255,255,255,0);
	border-right: 10px solid rgba(255,255,255,0);
	border-top: 10px solid rgba(255,255,255,0);
}

.pp-top {
	display: inline-block;
	padding: 2px 0 0 4px;
	border: 1px solid grey;
	border-bottom: 0;
	border-radius: 50%;
	font-size: 0.9em;
	vertical-align: -2px;
	text-transform: capitalize;
  color: #fff;
}
.time-past {
	color: #87CEEB;
	text-decoration: line-through;	
}